.dashboard__header{
    background: $light_purple_color;
    border-bottom: 1px solid $purple_color;
    padding: 20px 80px 0px 80px;
}

@media screen and (max-width: 600px) {
    div.dashboard__header {
        padding: 20px 5px 0px 5px;
    }
}