.header{
    background: white;
    padding: 20px 30px 10px 30px;
    border-bottom: 2px solid $purple_color;
}
.header__title{
    color: $purple_color;
    h1{
        font-family: $basic_font;
    }
}
.header__title:hover{
    color: $dark_purple_color;
}
.header__button{
    float: right;
    margin-top: 5px;
}